﻿@using QgisToWeb.Controllers;

@{
    ViewData["Title"] = "Link Pemkot Yogyakarta";
    Layout = "~/Views/Layout/Page.cshtml";
}

<style>
    .bg-gradient-primary {
        background-color: #cddcd1 !important;
        background-image: linear-gradient(180deg,#175a27 10%,#cddcd1 100%) !important;
        background-size: cover !important;
    }
</style>

<iframe src="https://mergangsankec.jogjakota.go.id/" style="width:100%;height:100%"></iframe>



