﻿@using QgisToWeb.Controllers;

@{
    ViewData["Title"] = "News";
    Layout = "~/Views/Layout/Page.cshtml";
}

<style>
    .bg-gradient-primary {
        background-color: #cddcd1 !important;
        background-image: linear-gradient(180deg,#175a27 10%,#cddcd1 100%) !important;
        background-size: cover !important;
    }
</style>

<div class="row ml-4 mt-4">
    <h3>News</h3>
</div>
<div class="row p-3">
    <div class="col-12">
        <div class="card shadow">
            <div class="card-header">
                <h6>Detail News</h6>
            </div>
            <div class="card-body">
                <div id="map" style="width:100%;height:500px;"></div>
            </div>
        </div>
    </div>
</div>

