﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - QgisToWeb</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <!-- Custom fonts for this template-->
    <link href="Assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="Assets/css/sb-admin-2.min.css" rel="stylesheet">
    <style>
        .bg-gradient-primary {
            background-color: #cddcd1 !important;
            background-image: linear-gradient(180deg,#175a27 10%,#cddcd1 100%) !important;
            background-size: cover !important;
        }
    </style>
</head>
<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">
        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Nav Item - Dashboard -->
            <li id="lidashboard" class="nav-item">
                <a class="nav-link" href="./">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Home</span>
                </a>
            </li>

            <!-- Nav Item - Charts -->
            <li id="liwebmap"  class="nav-item">
                <a class="nav-link" href="./webmap">
                    <i class="fas fa-fw fa-chart-area"></i>
                    <span>Webmap</span>
                </a>
            </li>

            <!-- Nav Item - Tables -->
            <li id="linews" class="nav-item">
                <a class="nav-link" href="./news">
                    <i class="fas fa-fw fa-table"></i>
                    <span>News</span>
                </a>
            </li>

            <!-- Nav Item - Pages Collapse Menu -->
            <li id="lilink"  class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>Link</span>
                </a>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        @*<h6 class="collapse-header">Custom Components:</h6>*@
                        <a class="collapse-item" href="./linkform">Form Data</a>
                        <a class="collapse-item" href="./linkpemkot">Pemkot Yogyakarta</a>
                    </div>
                </div>
            </li>

        </ul>
        <!-- End of Sidebar -->
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">
                @RenderBody()
            </div>
        </div>
        @*<div class="container">
                <main role="main" class="pb-3">
                    @RenderBody()
                </main>
            </div>*@



    </div>
    <!-- End of Page Wrapper -->


    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <script>
        var page = '@ViewBag.Title';
        $('#lihome').removeClass("active");
        $('#liwebmap').removeClass("active");
        $('#linews').removeClass("active");
        $('#lilink').removeClass("active");

        if (page == "home") {
            $('#lihome').addClass("active");
        } else if (page.includes("Web Map")) {
            $('#liwebmap').addClass("active");
        } else if (page.includes("News")) {
            $('#linews').addClass("active");
        } else if (page.includes("Link")) {
            $('#lilink').addClass("active");
        } 
    </script>
    @RenderSection("Scripts", required: false)
</body>
</html>
